// 统一的主题色与字体颜色
$primary-color: #ec4141;
$text-color: #444;


// 头部字体颜色
$header-text-color: #f2f3f4;
// 左右按钮背景色
$header-history-background: #d83b3b;
// input框颜色
$header-input-background: #e13e3e;
$header-input-placeholder-color: #e66262;



.red-bg-primary_1 {
    background: $primary-color;
}

.red-cl-primary_1 {
    color: $primary-color;
}

.red-bg-primary_2 {
    background: $header-history-background;
}

.red-cl-primary_2 {
    color: $header-history-background;
}

.red-bg-primary_3 {
    background: $header-input-placeholder-color;
}

.red-cl-primary_3 {
    color: $header-input-placeholder-color;
    
    &::placeholder {
        color: $header-input-placeholder-color;
    }
}

.red-bg-primary_4 {
    background: $header-input-background;
}

.red-cl-primary_4 {
    color: $header-input-background;
}